<div class="auth-wrapper">
    <div class="auth-content">
        <div class="card" style="padding: 0">
            <div class="row align-items-center text-center">
                <div class="col-md-12">
                    <div class="card-body">
                        <img src="../../../../assets/images/MINISTOP_logo.svg" alt="Ministop"
                            class="logo img-fluid mb-3">
                        <h4 class="mb-3 f-w-400">{{'login.signin' | translate}}</h4>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="{{'login.username' | translate}}"
                                    name="username" formControlName="username"
                                    [ngClass]="{'is-invalid': !username.valid && (username.dirty || username.touched || isSubmit)}">
                                <label *ngIf="!username.valid && (username.dirty || username.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    {{'login.username_required'| translate}}
                                </label>
                            </div>
                            <div class="input-group mb-4">
                                <input type="password" class="form-control"
                                    placeholder="{{'login.password' | translate}}" name="password"
                                    formControlName="password"
                                    [ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched || isSubmit)}">
                                <label *ngIf="!password.valid && (password.dirty || password.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    {{'login.password_required'| translate}}
                                </label>
                            </div>
                            <div class="row" *ngIf="errorMessage && username.valid && password.valid">
                                <div class="col-sm-12">
                                    <label class="text-danger">{{errorMessage}}</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary mb-4">{{'login.btnLogin' |
                                translate}}</button>
                        </form>
                        <a (click)="resetPassWord()" class="f-w-400">{{'login.reset_password' | translate}}</a>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"
                style="transform:rotate(180deg);margin-bottom:-1px">
                <path class="elementor-shape-fill" fill="#4680ff" opacity="0.33"
                    d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z">
                </path>
                <path class="elementor-shape-fill" fill="#4680ff" opacity="0.66"
                    d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z">
                </path>
                <path class="elementor-shape-fill" fill="#4680ff"
                    d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z">
                </path>
            </svg>
        </div>
    </div>
</div>

<app-ui-modal #changepassModal [dialogClass]="'modal-lg'">
    <div class="app-modal-header" style="width: 100%;">
        <h5 class="modal-title text-center">{{'change_password.title' | translate}}</h5>
    </div>
    <div class="app-modal-body">
        <app-change-pass #changePassComponent (onCancel)="changepassModal.hide()"></app-change-pass>
    </div>
</app-ui-modal>
<app-ui-modal #resetpassModal>
    <div class="app-modal-header" style="width: 100%;">
        <h5 class="modal-title text-center">{{'reset_password.title' | translate}}</h5>
    </div>
    <div class="app-modal-body">
        <app-reset-pass #resetPassComponent [message]="errorMessageChangePass" (onSave)="saveResetPass($event)"
            (onCancel)="resetpassModal.hide()"></app-reset-pass>
    </div>
    <div class="app-modal-footer text-right">
        <button class="btn btn-outline-secondary mr-1 btn-cancel" (click)="btnCancelResetClick()">
            <i class="far fa-times-circle"></i>
            {{'button.cancel' | translate}}</button>
        <button class="btn btn-primary btn-save" (click)="btnSaveResetClick()">
            <i class="far fa-check-circle" aria-hidden="true"></i>
            {{'button.ok' | translate}}</button>
    </div>
</app-ui-modal>
<app-loader></app-loader>