<form [formGroup]="form">
  <div class="text-left">
    <!-- Code -->
    <div class="form-group row">
      <label class="required col-sm-3 col-form-label">{{
        "setting_account.code" | translate
        }}</label>
      <div class="col-sm-9">
        <ng-select class="required" [items]="listUserMaster" bindLabel="label" dropdownPosition="auto" bindValue="value"
          labelForId="code" placeholder="{{'setting_account.code'|translate}}" [virtualScroll]="true"
          [loading]="isLoadUserMaster" [ngClass]="{'is-invalid': !code.valid && code.errors.required && isValidate}"
          formControlName="code">
        </ng-select>
        <label *ngIf="!code.valid && code.errors.required && isValidate"
          class="error jquery-validation-error small form-text invalid-feedback">
          {{'message.require'| translate}}
        </label>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label required">{{'setting_account.department'|translate}}</label>
      <div class="col-sm-9">
        <ng-select class="required" [items]="listDepartmentMaster" bindLabel="label" dropdownPosition="auto"
          bindValue="value" labelForId="department" placeholder="{{'setting_account.department'|translate}}"
          [virtualScroll]="true" [loading]="isLoadDepartments" formControlName="department"
          [ngClass]="{'is-invalid': !department.valid && department.errors.required && isValidate}">
        </ng-select>
        <label *ngIf="!department.valid && department.errors.required && isValidate"
          class="error jquery-validation-error small form-text invalid-feedback">
          {{'message.require'| translate}}
        </label>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">{{
        "setting_account.ware_house" | translate
        }}</label>
      <div class="col-sm-9">
        <ng-select [items]="listWarehouse" bindLabel="label" dropdownPosition="auto" bindValue="value"
          labelForId="warehouseCode" placeholder="{{ 'setting_account.ware_house' | translate }}" [virtualScroll]="true"
          [loading]="isLoadWarehouses" formControlName="warehouseCode">
        </ng-select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">{{
        "setting_account.cost_display_classification" | translate
        }}</label>
      <div class="col-sm-9">
        <ng-select [items]="listCostClassification" bindLabel="label" dropdownPosition="auto" bindValue="value"
          labelForId="costDisplayClassification" placeholder="{{
            'setting_account.cost_display_classification' | translate
          }}" [virtualScroll]="true" formControlName="costDisplayClassification">
        </ng-select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label required">{{
        "setting_account.role" | translate
        }}</label>
      <div class="col-sm-9">
        <ng-select class="required" [items]="listRole" bindLabel="label" dropdownPosition="auto" bindValue="value"
          labelForId="role" placeholder="{{ 'setting_account.role' | translate }}" [virtualScroll]="true" [ngClass]="{
            'is-invalid': !role.valid && role.errors.required && isValidate
          }" formControlName="role">
        </ng-select>
        <label *ngIf="!role.valid && role.errors.required && isValidate"
          class="error jquery-validation-error small form-text invalid-feedback">
          {{ "message.require" | translate }}
        </label>
      </div>
    </div>
  </div>
</form>
<hr />
<div class="app-modal-footer text-right">
  <button type="button" class="btn btn-outline-secondary mr-1" data-dismiss="modal" (click)="btnCancelClick()">
    <i class="far fa-times-circle"></i> {{ "button.cancel" | translate }}
  </button>
  <button type="button" class="btn btn-primary" (click)="btnSaveClick()">
    <i aria-hidden="true" class="far fa-check-circle"></i>
    {{ (isEdit ? 'button.save' : 'button.register') | translate}}
  </button>
</div>