<form [formGroup]="form">
  <div class="text-left">
    <!-- Code -->
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">{{
        "setting_warehouse.code" | translate
        }}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="code" [readOnly]="true" />
      </div>
    </div>
    <!-- name -->
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">{{
        "setting_warehouse.name" | translate
        }}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="name" [readOnly]="true" />
      </div>
    </div>

    <!-- warehouseAbbreviation -->
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">{{
        "setting_warehouse.warehouse_abbreviation" | translate
        }}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="warehouseAbbreviation" [readOnly]="true" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">{{
        "setting_warehouse.inventory_management" | translate
        }}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="inventoryManagement" [readOnly]="true" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">{{
        "setting_warehouse.logistics_management" | translate
        }}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="logisticsManagement" [readOnly]="true" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">{{
        "setting_warehouse.inventory_allocation_classification" | translate
        }}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="inventoryAllocationClassification" [readOnly]="true" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">{{
        "setting_warehouse.address_print_code" | translate
        }}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="addressPrintCode" [readOnly]="true" />
      </div>
    </div>
  </div>
</form>
<hr />
<div class="app-modal-footer text-right">
  <button type="button" class="btn btn-outline-secondary mr-1" data-dismiss="modal" (click)="btnCloseClick()">
    <i class="far fa-times-circle"></i> {{ "button.close" | translate }}
  </button>
</div>